ABIDE BY THESE TENETS
```markdown
1. Respect above all. 
Be excellent to your fellow server members!

2. Speak English. 
We're here to have fun and help each other, and everyone should understand what is being talked about.

3. Use the channel most relevant to your topic. 
Not sure? Check channel descriptions and pins for info, or ask a moderator or fellow server member for help!

4. Stay on topic and post with common sense. 
Also use @tags and formatting with common sense. Help to make the conversation as easy and nice to follow as possible.

5. When in doubt, DM the mods.
Reports to moderators are often better sent via DM, not in open channels, to prevent unnecessary drama. Disagree with moderation? Also a matter for DMs, not public channels.

6. No drama. 
Don't touch on touchy topics, like politics or religion. Our server is primarily about writing and fun, not debates or arguments. Some topics are also categorically off limits; see below.

7. Keep it clean. 
Do not post NSFW, gory, distasteful, discriminating, hateful, illicit, overly loud, unnecessarily flashy, or otherwise disturbing or inappropriate content. Please err on the side of caution and strive to be considerate. This rule may also be applied to profile pics, nicknames and statuses.

8. Don't stir up trouble. Posting just to get a reaction? Don't.

9. Don't carry a grudge. 
If someone upset you, ask them to stop, talk to the mods about it as needed, and then move on.

10. No spam. 
Limitations apply to where files and Discord invites may be shared.```
